/* ***** Mobile First Section ***** */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 2700px;
  margin: 0 auto;
  position: relative;
  width: 375px;
  height: 2615px;
  background: #ffffff;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 345px;
  height: 2700px;
}

/* ***** Top Section ***** */
.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 750px;
  padding: 20px;
  background: #ffffff;
}

header {
  display: flex;
  justify-content: space-around;
  width: 375px;
}

header h1 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  color: #13183f;
  margin-top: 0;
  margin-right: 50px;
}

header img {
  display: none;
}

.button-one {
  /* button */
  background: #13183f;
  border-radius: 28px;
  width: 140px;
  height: 48px;
  margin-left: 50px;

  /* Get Started */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.main-title {
  width: 343px;
  height: 101px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 0;
  margin-left: 16px;
  color: #13183f;
}

.top-section-paragraph {
  width: 350px;
  height: 78px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  color: #83869a;
  margin: 33px 16px 25px 16px;
}

.button-two-container {
  align-self: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
}

.button-two {
  width: 175px;
  height: 60px;
  margin-bottom: 10px;

  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.mobile-image-one {
  width: 465px;
  margin-bottom: 0;
}

.tablet-image-one {
  display: none;
}

.desktop-image-one {
  display: none;
}

/* ***** Bottom Section ***** */
.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 345px;
  height: 1750px;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  padding: 0px 20px 0px 20px;
  margin-top: 35px;
}

.popular {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.popular-courses {
  width: 345px;
  height: 122px;
  margin-top: 0px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  left: 8.16%;
  right: 8.45%;
  top: calc(50% - 64px / 2 - 4px);

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.popular-courses p {
  width: 250px;
  padding-left: 30px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

/* ***** Animation ***** */
.animation {
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  margin-top: 50px;
  padding-left: 28px;
  padding-bottom: 32px;
  width: 325px;
  height: 235px;
  left: 16px;
  top: 1184px;
}

.animation img {
  position: relative;
  bottom: 25px;
  width: 56px;
  height: 56px;
}

.animation h2 {
  margin-top: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #13183f;
}

.animation p {
  width: 286px;
  height: 100px;
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
}

.animation-button-container {
  display: flex;
  justify-content: flex-start;
  height: 25px;
}

.animation-button {
  height: 28px;
  left: 8.16%;
  right: 61.52%;
  top: calc(50% - 28px / 2 + 95.5px);
  background-color: white;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
  margin-bottom: 15px;
  padding-left: 0;
}

/* ***** Design ***** */
.design {
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  margin-top: 50px;
  padding-left: 28px;
  padding-bottom: 32px;
  width: 325px;
  height: 235px;
  left: 16px;
  top: 1184px;
}

.design img {
  position: relative;
  bottom: 25px;
  width: 56px;
  height: 56px;
}

.design h2 {
  margin-top: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #13183f;
}

.design p {
  width: 300px;
  height: 100px;
  margin-right: 29px;
  margin-bottom: 0;
  padding-right: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
}

.design-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}

.design-button {
  height: 28px;
  background-color: white;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
  margin-bottom: 0;
  padding-left: 0;
}

/* ***** Photography ***** */
.photography {
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  margin-top: 50px;
  padding-left: 28px;
  padding-bottom: 32px;
  width: 325px;
  height: 235px;
  left: 16px;
  top: 1184px;
}

.photography img {
  position: relative;
  bottom: 25px;
  width: 56px;
  height: 56px;
}

.photography h2 {
  margin-top: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #13183f;
}

.photography p {
  width: 286px;
  height: 100px;
  margin-right: 29px;
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
}

.photography-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 30px;
}

.photography-button {
  height: 28px;
  background-color: white;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
  margin-bottom: 0;
  padding-left: 0;
}

/* ***** Crypto ***** */
.crypto {
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  margin-top: 50px;
  padding-left: 28px;
  padding-bottom: 32px;
  width: 325px;
  height: 235px;
  left: 16px;
  top: 1184px;
}

.crypto img {
  position: relative;
  bottom: 25px;
  width: 56px;
  height: 56px;
}

.crypto h2 {
  margin-top: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #13183f;
}

.crypto p {
  width: 286px;
  height: 100px;
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
}

.crypto-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 50px;
}

.crypto-button {
  height: 28px;
  background-color: white;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
  margin-bottom: 0;
  padding-left: 0;
}

/* ***** Business ***** */
.business {
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  margin-top: 50px;
  padding-left: 28px;
  padding-bottom: 32px;
  width: 325px;
  height: 235px;
}

.business img {
  position: relative;
  bottom: 25px;
  width: 56px;
  height: 56px;
}

.business h2 {
  margin-top: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #13183f;
}

.business p {
  width: 286px;
  height: 100px;
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
}

.business-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.business-button {
  height: 28px;
  background-color: white;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
  margin-bottom: 0;
  padding-left: 0;
}

/* ***** Footer ***** */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #13183f;
  width: 345px;
  height: 120px;
  padding-right: 20px;
  padding-left: 20px;
}

footer img {
  width: 89px;
  height: 22px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 16px;
}

.footer-button {
  width: 140px;
  height: 48px;
  margin-right: 16px;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

/* ***** Tablet Media Query ***** */
/* ******************************************************************** */

@media all and (min-width: 768px) {
  body {
    height: 1800px;
    margin-top: 10px;
  }

  .content-wrapper {
    width: 768px;
    height: 1900px;
    margin-top: 15px;
  }

  .top-section {
    width: 768px;
    height: 650px;
    padding: 0;
    overflow: hidden;
  }

  .top-section-paragraph {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 400px;
    height: 70px;
  }

  header {
    display: flex;
    justify-content: space-between;
    width: 689px;
    height: 48px;
  }

  .main-title-div {
    position: relative;
    right: 170px;
    margin-top: 70px;
  }

  .mobile-image-one {
    display: none;
  }

  .tablet-image-one {
    display: inline;
    position: relative;
    bottom: 565px;
    left: 340px;
    overflow: hidden;
    width: 725px;
    height: 725px;
    margin-bottom: 0;
    overflow: hidden;
  }

  .desktop-image-one {
    display: none;
  }

  .bottom-section {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 768px;
    height: 999px;
    padding: 0;
    margin-top: 0px;
  }

  .popular-courses {
    width: 345px;
    height: 265px;
    margin-top: 15px;
    margin-left: 25px;
  }

  .animation {
    order: 3;
    width: 320px;
    height: 259px;
    margin-top: 0;
    margin-right: 25px;
    padding-bottom: 22px;
  }

  .animation img {
    bottom: 15px;
  }

  .design {
    order: 1;
    width: 320px;
    height: 239px;
    margin-left: 25px;
  }

  .photography {
    order: 4;
    width: 320px;
    height: 239px;
    margin-right: 25px;
  }

  .crypto {
    order: 2;
    width: 320px;
    height: 239px;
    margin-left: 25px;
  }

  .business {
    order: 5;
    width: 320px;
    height: 239px;
    margin-right: 25px;
  }

  footer {
    order: 6;
    width: 728px;
    height: 120px;
  }
}

/* ***** Desktop Media Query ***** */
/* ***************************************************************************** */

@media all and (min-width: 1440px) {
  body {
    width: 1440px;
    height: 1845px;
    margin: 0 auto;
  }

  .top-section {
    width: 1440px;
    overflow: hidden;
    padding-bottom: 200px;
  }

  header h1 {
    display: none;
  }

  header img {
    display: inline-block;
    position: absolute;
    width: 111px;
    height: 30px;
    left: 200px;
    top: 40px;
  }

  .button-one {
    position: absolute;
    width: 167px;
    height: 56px;
    left: 1090px;
    top: 30px;
    z-index: 2;
  }

  .button-one:hover {
    background: #666ca3;
  }

  .main-title-div {
    position: absolute;
    width: 457px;
    height: 359px;
    left: 185px;
    top: 205px;
  }

  .button-two:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    border-radius: 31.5px;
  }

  .mobile-image-one {
    display: none;
  }

  .tablet-image-one {
    display: none;
  }

  .desktop-image-one {
    display: inline-block;
    position: relative;
    width: 991.63px;
    height: 936.92px;
    left: 540px;
    top: -145.13px;
    z-index: 1;
  }

  .top-section-paragraph {
    margin-bottom: 50px;
  }

  .bottom-section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 888px;
    background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  }

  .popular-courses {
    order: 1;
    width: 345px;
    height: 259px;
    margin: 10px 0 0 0px;
  }

  .animation {
    order: 2;
    margin-right: 30px;
    margin-left: 30px;
  }

  .design {
    order: 3;
    height: 259px;
    margin-top: 0;
    margin-left: 0;
  }

  .photography {
    order: 4;
    height: 259px;
    margin-top: 0;
    margin-bottom: 100px;
  }

  .crypto {
    order: 5;
    height: 259px;
    margin-top: 0;
    margin-right: 25px;
    margin-left: 0;
    margin-bottom: 100px;
  }

  .business {
    order: 6;
    height: 259px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 100px;
  }

  footer {
    width: 1440px;
    padding-right: 0;
    padding-left: 0;
  }

  footer img {
    position: relative;
    left: 155px;
    width: 111px;
    height: 27px;
  }

  .footer-button {
    position: relative;
    right: 155px;
  }

  .footer-button:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
    border-radius: 28px;
  }
}
